In [1]:
import pandas as pd
import numpy as np
import os
from tqdm import tqdm
import glob

In [2]:
root = "/media/yesindeed/DATADRIVE1/mount/remote_cse/datasets/multitask-moe/luna16"

In [3]:
df_annotation_2d = pd.read_csv(os.path.join(root, "annotations_2d.csv"))

In [4]:
df_annotation_2d

,seriesid,id,path,is_node,slice (from 0)
0,1.3.6.1.4.1.14519.5.2.1.6279.6001.100621383016...,1.3.6.1.4.1.14519.5.2.1.6279.6001.100621383016...,/research/d5/gds/yzhong22/datasets/multitask-m...,0,71
1,1.3.6.1.4.1.14519.5.2.1.6279.6001.100621383016...,1.3.6.1.4.1.14519.5.2.1.6279.6001.100621383016...,/research/d5/gds/yzhong22/datasets/multitask-m...,0,72
2,1.3.6.1.4.1.14519.5.2.1.6279.6001.100621383016...,1.3.6.1.4.1.14519.5.2.1.6279.6001.100621383016...,/research/d5/gds/yzhong22/datasets/multitask-m...,0,73
3,1.3.6.1.4.1.14519.5.2.1.6279.6001.100621383016...,1.3.6.1.4.1.14519.5.2.1.6279.6001.100621383016...,/research/d5/gds/yzhong22/datasets/multitask-m...,0,74
4,1.3.6.1.4.1.14519.5.2.1.6279.6001.100621383016...,1.3.6.1.4.1.14519.5.2.1.6279.6001.100621383016...,/research/d5/gds/yzhong22/datasets/multitask-m...,0,75
...,...,...,...,...,...
144261,1.3.6.1.4.1.14519.5.2.1.6279.6001.979083010707...,1.3.6.1.4.1.14519.5.2.1.6279.6001.979083010707...,/research/d5/gds/yzhong22/datasets/multitask-m...,0,131
144262,1.3.6.1.4.1.14519.5.2.1.6279.6001.979083010707...,1.3.6.1.4.1.14519.5.2.1.6279.6001.979083010707...,/research/d5/gds/yzhong22/datasets/multitask-m...,0,132
144263,1.3.6.1.4.1.14519.5.2.1.6279.6001.979083010707...,1.3.6.1.4.1.14519.5.2.1.6279.6001.979083010707...,/research/d5/gds/yzhong22/datasets/multitask-m...,0,133
144264,1.3.6.1.4.1.14519.5.2.1.6279.6001.979083010707...,1.3.6.1.4.1.14519.5.2.1.6279.6001.979083010707...,/research/d5/gds/yzhong22/datasets/multitask-m...,0,134
144265,1.3.6.1.4.1.14519.5.2.1.6279.6001.979083010707...,1.3.6.1.4.1.14519.5.2.1.6279.6001.979083010707...,/research/d5/gds/yzhong22/datasets/multitask-m...,0,135

In [5]:
dict_out = {"id": [], "exam_id": [], "path": [], "class": [], "exam_class": []}

for id in df_annotation_2d["id"].unique():
    sub_df = df_annotation_2d.loc[df_annotation_2d["id"] == id]

    is_node = np.max(sub_df["is_node"])

    assert len(sub_df["path"].unique()) == 1

    path = sub_df["path"].tolist()[0].replace(
        "/research/d5/gds/yzhong22/datasets/multitask-moe/luna16/", "./")

    assert os.path.exists(os.path.join(root, path)), f"{path}"

    cls = "node" if is_node == 1 else "no findings"

    dict_out["id"].append(id)
    dict_out["exam_id"].append(id)
    dict_out["path"].append(path)

    dict_out["class"].append(cls)
    dict_out["exam_class"].append(cls)

df_out = pd.DataFrame.from_dict(dict_out)

In [6]:
df_out

,id,exam_id,path,class,exam_class
0,1.3.6.1.4.1.14519.5.2.1.6279.6001.100621383016...,1.3.6.1.4.1.14519.5.2.1.6279.6001.100621383016...,./images/1.3.6.1.4.1.14519.5.2.1.6279.6001.100...,no findings,no findings
1,1.3.6.1.4.1.14519.5.2.1.6279.6001.100621383016...,1.3.6.1.4.1.14519.5.2.1.6279.6001.100621383016...,./images/1.3.6.1.4.1.14519.5.2.1.6279.6001.100...,no findings,no findings
2,1.3.6.1.4.1.14519.5.2.1.6279.6001.100621383016...,1.3.6.1.4.1.14519.5.2.1.6279.6001.100621383016...,./images/1.3.6.1.4.1.14519.5.2.1.6279.6001.100...,no findings,no findings
3,1.3.6.1.4.1.14519.5.2.1.6279.6001.100621383016...,1.3.6.1.4.1.14519.5.2.1.6279.6001.100621383016...,./images/1.3.6.1.4.1.14519.5.2.1.6279.6001.100...,no findings,no findings
4,1.3.6.1.4.1.14519.5.2.1.6279.6001.100621383016...,1.3.6.1.4.1.14519.5.2.1.6279.6001.100621383016...,./images/1.3.6.1.4.1.14519.5.2.1.6279.6001.100...,no findings,no findings
...,...,...,...,...,...
74223,1.3.6.1.4.1.14519.5.2.1.6279.6001.979083010707...,1.3.6.1.4.1.14519.5.2.1.6279.6001.979083010707...,./images/1.3.6.1.4.1.14519.5.2.1.6279.6001.979...,no findings,no findings
74224,1.3.6.1.4.1.14519.5.2.1.6279.6001.979083010707...,1.3.6.1.4.1.14519.5.2.1.6279.6001.979083010707...,./images/1.3.6.1.4.1.14519.5.2.1.6279.6001.979...,no findings,no findings
74225,1.3.6.1.4.1.14519.5.2.1.6279.6001.979083010707...,1.3.6.1.4.1.14519.5.2.1.6279.6001.979083010707...,./images/1.3.6.1.4.1.14519.5.2.1.6279.6001.979...,no findings,no findings
74226,1.3.6.1.4.1.14519.5.2.1.6279.6001.979083010707...,1.3.6.1.4.1.14519.5.2.1.6279.6001.979083010707...,./images/1.3.6.1.4.1.14519.5.2.1.6279.6001.979...,no findings,no findings
74227,1.3.6.1.4.1.14519.5.2.1.6279.6001.979083010707...,1.3.6.1.4.1.14519.5.2.1.6279.6001.979083010707...,./images/1.3.6.1.4.1.14519.5.2.1.6279.6001.979...,no findings,no findings

In [7]:
import numpy as np

df_out["dataset"] = "luna16"
df_out["class_num"] = 1
df_out["contains_negative"] = 1
df_out["modality"] = "ct"

df_out["split"] = "test"

In [8]:
df_out.to_csv(f"{root}/metadata.csv", index=False)